<div class="nuevo_form">
  <% if (locals.errors) { %>
    <div class="errors">
      You need to fix the following errors:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= submitObjectPath %>" enctype="multipart/form-data" method="post">
    <% if (!object.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } else {%>
      <input type="hidden" name="userId" value= "<%= currentUser.id %>" />
      <input type="hidden" name="status" value='available' />
    <% } %>
    <div  class="field">
      <label for="name">Nombre</label>
      <input type="text" name="name" value="<%= object.name %>" required />
    </div>
    <div  class="field">
      <label for="description">Descripción</label>
      <textarea type="text" name="description" required><%= object.description %></textarea>
    </div>
    <div  class="field">
      <label for="category">Categoria</label>
      <select name="categoryId" value= "<%= object.categoryId %>">
        <option hidden="hidden" selected="selected" value= NULL required > Selecciona</option>
        <% categoriesList.forEach((category) => { %>
          <option value= <%= category.id %>> <%= category.name %></option>
            <% }) %>
      </select>
    </div>
    <div  class="field">
      <% if (!object.image1) { %>
        <label for="file">Imagen 1:</label>
      <% } else {%>
        <label for="file">Reemplazar imagen 1:</label>
      <% } %>
      <input type="file" name="image1"  accept="image/*" value="<%= object.image1 %>" />
    </div>
    <div  class="field">
      <% if (!object.image2) { %>
        <label for="file">Imagen 2:</label>
      <% } else {%>
        <label for="file">Reemplazar imagen 2:</label>
      <% } %>
      <input type="file" name="image2"  accept="image/*" value="<%= object.image2 %>" />
    </div>
    <div  class="field">
      <% if (!object.image3) { %>
        <label for="file">Imagen 3:</label>
      <% } else {%>
        <label for="file">Reemplazar imagen 3:</label>
      <% } %>
      <input type="file" name="image3"  accept="image/*" value="<%= object.image3 %>" />
    </div>
    </div>
    <div  class="field">
      <% if (object.isNewRecord) { %>
        <input type="submit" name="create" value="Crear" />
      <% } else { %>
        <input type="submit" name="update" value="Actualizar" />
      <% } %>
    </div>
  </form>
</div>
