<div>
  <% if (locals.errors) { %>
    <div class="errors">
      You need to fix the following errors:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= submitObjectPath %>" method="post">
    <% if (!object.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } else {%>
      <input type="hidden" name="userId" value= "<%= currentUser.id %>" />
      <input type="hidden" name="status" value='available' />
    <% } %>
    <div  class="field">
      <label for="name">Nombre</label>
      <input type="text" name="name" value="<%= object.name %>" />
    </div>
    <div  class="field">
      <label for="description">Description</label>
      <textarea type="text" name="description"><%= object.description %></textarea>
    </div>
    <div  class="field">
      <label for="category">Categoria</label>
      <select id="category" value= "<%= object.categoryId %>">
        <% categoriesList.forEach((category) => { %>
          <option value= <%= category.id %>> <%= category.name %></option>
            <% }) %>   
      </select>
    </div>
    <div  class="field">
      <label for="file">Agrega una imagen</label>
      <input type="file" name="image1"  accept="image/*" value="<%= object.image1 %>" />
    </div>
    <div  class="field">
      <label for="file">Agrega una segunda imagen</label>
      <input type="file" name="image2"  accept="image/*" value="<%= object.image2 %>" />
    </div>
    <div  class="field">
      <% if (object.isNewRecord) { %>
        <input type="submit" name="create" value="Create" />
      <% } else { %>
        <input type="submit" name="update" value="Update" />
      <% } %>
    </div>
  </form>
</div>

