<div class="search-container">
  <form action="<%= searchPath %>" method="post">
    <input type="text" placeholder="Buscar..." name="searchCat">
    <button type="submit" class="searchButton" value="Submit">
      <i class="fa fa-search"></i>
    </button>
  </form>
</div>
<% if (!objectsList.length) { %>
  <p>No results</p>
<% } else { %>

  
  <div class="item-list">
  <% objectsList.forEach((object) => { %>
    <a href="<%= showObjectPath(object) %>">
      <div class="item-box">
        <div class="img-box">
          <img src="http://placehold.it/150x150">
        </div>
        <div class="description-box">
          <br>
          <a href="<%= showObjectPath(object) %>"><%= object.name %></a>
          <p><%= object.description %></p>
          <p><%= object.status %></p>
        </div>
        <div class="category-box">
          <br>
          <br>
          <p>Categoria tecnologia</p>
          <p>Vendedor: XX</p>
        </div>
      </div>
    </a>
  <% }) %>
  </div>
<% } %>

<% if (!categoriesList.length) { %>
  <p>No results</p>
<% } else { %>

  
  <div class="item-list">
  <% categoriesList.forEach((category) => { %>
    <a href="<%= showCategoryPath(category) %>">
      <div class="item-box">
        <div class="description-box">
          <br>
          <a href="<%= showCategoryPath(category) %>"><%= category.name %></a>
        </div>
      </div>
    </a>
  <% }) %>
  </div>
<% } %>
