
<% if (!objectsList.length) { %>
  <p>No results</p>
<% } else { %>
  <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:10%">
    <% if (!categoriesList.length) { %>
  <% } else { %>
      <% categoriesList.forEach((category) => { %>
        <a href="<%= showCategoryPath(category) %>">
          <div >
            <div class="category-box">
              <br>
              <a href="<%= showCategoryPath(category) %>"><%= category.name %></a>
            </div>
          </div>
        </a>
      <% }) %>
  <% } %>

  </div>

  <div class="item-list">
  <% objectsList.forEach((object) => { %>
    <a href="<%= showObjectPath(object) %>">
      <div class="item-box">
        <div class="img-box">
          <% if (object.image1) { %>
            <img src="https://guwuappspace1.sfo2.digitaloceanspaces.com/<%=object.image1%>">
          <% } else { %>
            <img src="http://placehold.it/150x150">
          <% } %>
        </div>
        <div class="description-box">
          <br>
          <a href="<%= showObjectPath(object) %>"><%= object.name %></a>
          <p><%= object.description %></p>
          <% if (object.status == "available") {%>
          <p>Disponible !</p>
          <% } else { %>
          <p>No disponible :(</p>
          <% } %>
        </div>
      </div>
    </a>
  <% }) %>
  </div>
<% } %>
