
<% if (!objectsList.length) { %>
  <h2>No se encontraron productos :(</h2>
<% } else { %>


  <% objectsList.forEach((object) => { %>

  <row>
  <column>
    <info>
      <% if (object.image1) { %>
        <img src="https://guwuappspace1.sfo2.digitaloceanspaces.com/<%=object.image1%>">
      <% } else { %>
        <img src="http://placehold.it/150x150">
      <% } %>
    </info>
  </column>
  <column>
    <info>
      <div class="name"> <%= object.name %> </div>
      <div class="text"> <%= object.description %> </div>
      <div class="text"> <%= object.status %> </div>
    </info>
  </column>
  <column>
    <info>
      <div>
        <form action="<%= showObjectPath(object) %>" method="get">
          <input type="submit" class="button"  value="Ver" />
        </form>
      </div>
      <!-- <% // if (currentUser) { %>
        <div>
          <a href="<%= // editObjectPath(object) %>">Editar</a>
        </div>
        <div>
          <form action="<%= // deleteObjectPath(object) %>" method="POST">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Delete" />
          </form>
        </div>
      <% // } %> -->
    </info>
  </column>
</row>
  <% }) %>
<% } %>
