<% if (!object) {%>
    <text>No hay ningún intercambio con este id</>
  <% } else {%>
    <div class="item-box-show">
      <!-- Slider idea from https://www.youtube.com/watch?v=L3XYrfitoIQ -->
      <div class="image-container">
        <div class="image-box">
          <input type="radio" id="1" name="image-slide" hidden />
          <input type="radio" id="2" name="image-slide" hidden />
          <input type="radio" id="3" name="image-slide" hidden />

          <div class="slide">
            <%
            var i;
            for (i = 1; i < 4; i++) {
              var image = object.getImagePath(i);
              if (image) { %>
                <div class="item-slide">
                  <img src="<%=image%>">
                </div>
                <%
              }
            }
            %>
          </div>

          <div class="pagination">
            <% if (object.image1) { // Como esta, los image deben ser ocupados en orden para que no se despagine %>
              <label for="1" class="pagination-item">
                <img src="https://guwuappspace1.sfo2.digitaloceanspaces.com/<%=object.image1%>">
              </label>
            <% } %>
            <% if (object.image2) { %>
              <label for="2" class="pagination-item">
                <img src="https://guwuappspace1.sfo2.digitaloceanspaces.com/<%=object.image2%>">
              </label>
            <% } %>
            <% if (object.image3) { %>
              <label for="3" class="pagination-item">
                <img src="https://guwuappspace1.sfo2.digitaloceanspaces.com/<%=object.image3%>">
              </label>
            <% } %>
          </div>

        </div>
      </div>



      <div class="info-box-show">
        <div class="item-title"> <h2><%= object.name %></h2></div>
        <div>Vendido por <a href= <%= "/users/" + seller.id + "/show"%>> <%= seller.name %></a></div>
        <br>
        <div> <%= object.description %> </div>
        <% if (object.status == "available") {%>
        <p>Disponible !</p>
        <% } else { %>
        <p>No disponible :(</p>
        <% } %>
        <div> <p>Fecha de publicación: <%= object.parsedCreatedAt() %></p></div>
      </div>
      <div class="links-box">
        <% if (userpermit || superpermit) { %>
            <div>
              <form action="<%= editObjectPath(object) %>" method="get">
                <input type="submit" class="button"  value="Editar" />
              </form>
            </div>
            <div>
              <form action="<%= deleteObjectPath(object) %>" method="POST">
                <input type="hidden" name="_method" value="delete" />
                <input type="submit" class="button" value="BORRAR" />
              </form>
            </div>
          <% } %>
      </div>

    </div>

  <% }%>
