<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>X-CHANGE</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>
    <header>
      <div class="layoutContainer">
        <div class="logoContainer">
          <a href="/">
            <img src="<%= assetPath('logo.png') %>" href="/" alt="Logo" />
          </a>
        </div>

        <div class="search-container">
          <div class="reactSearch">
            <form action="<%= searchPath %>" method="post">
              <div id="react-app"></div>
            </form>
          </div>
          <div class="seactButtonContainer">
            <button type="submit" class="searchButton" value="Submit"> :)</button>
          </div>
        </div>

        <div class="layoutButtonsContainer">
          <% if (currentUser) { %>
            <span class="welcome">Bienvenido <%= currentUser.name %></span>
            <div class="buttonNavBar">
              <form action="<%= destroySessionPath %>" method="post">
                <input type="hidden"  name="_method" value="delete" />
                <input type="submit" class="button-tab" value="Cerrar sesión" />
              </form>
            </div>
            <div class="buttonNavBar">
              <form action="/users/<%= currentUser.id %>/show" method="get">
                <input type="submit" class="button-tab"  value="Mi perfil" />
              </form>
            </div>
            <div class="buttonNavBar">
              <form action="/users/<%= currentUser.id %>/trades" method="get">
                <input type="submit" class="button-tab" value="Mis Intercambios" />
              </form>
            </div>
          <% } else { %>
            <div class="button-single">
              <form action="<%= newSessionPath %>" method="get">
                <input type="submit" class="button-tab"  value="Ingresar" />
              </form>
            </div>
            <div class="button-single">
              <form action="<%= newUserPath %>" method="get">
                <input type="submit" class="button-tab"  value="Registrarse" />
              </form>
            </div>
          <% } %>
        </div>
      </div>
    </header>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
