<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>X-CHANGE</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>

    <header>
      <!-- <a href="<%= tradesPath %>"><h1>X-CHANGE</h1></a> -->

      <div class="tab">
        <a href="/">
        <img src="<%= assetPath('logo.png') %>" href="/"  width="250" alt="Logo" />
        </a>

        <div id="user-login">
          <div class="search-container">
            <form action="<%= searchPath %>" method="post">
              <input type="text" placeholder="Busca productos para intercambiar..." name="searchCat" required>
              <button type="submit" class="searchButton" value="Submit">
                  :)
              </button>
            </form>
          </div>
          <% if (currentUser) { %>
            <span class="welcome">Bienvenido <%= currentUser.name %></span>
            <form action="<%= destroySessionPath %>" method="post">
              <input type="hidden"  name="_method" value="delete" />
              <input type="submit" class="button-tab" value="Cerrar sesión" />
            </form>
            <form action="/users/<%= currentUser.id %>/show" method="get">
              <input type="submit" class="button-tab"  value="Mi Perfil" />
            </form>
            <form action="/users/<%= currentUser.id %>/trades" method="get">
              <input type="submit" class="button-tab" value="Mis Intercambios" />
            </form>
          <% } else { %>
            <form action="<%= newSessionPath %>" method="get">
              <input type="submit" class="button-tab"  value="Ingresar" />
            </form>
          <% } %>

        </div>


    </div>

    </header>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
