<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>X-CHANGE</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>

    <header>
      <!-- <a href="<%= tradesPath %>"><h1>X-CHANGE</h1></a> -->

      <div class="tab">
        <a href="/">
        <img src="<%= assetPath('logo.png') %>" href="/"  width="250" alt="Logo" />
        </a>
        <div id="user-login">
          <% if (currentUser) { %>
            <span class="welcome">Bienvenido <%= currentUser.name %></span>
            <a>
            <form action="<%= destroySessionPath %>" method="post">
              <input type="hidden"  name="_method" value="delete" />
              <input type="submit" class="button" value="Cerrar sesión" />
            </form>
            </a>
            <a href="/users/<%= currentUser.id %>/show"class="button">Perfil</a>
            <a href="/users/<%= currentUser.id %>/trades"class="button">Mis Intercambios</a>
          <% } else { %>
            <a href="<%= newSessionPath %>" class="button">Ingresar</a>
          <% } %>

        </div>

        <div class="search-container">
          <form action="<%= searchPath %>" method="post">
            <input type="text" placeholder="Buscar..." name="searchCat">
            <button type="submit" class="searchButton" value="Submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>


    </div>

    </header>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
