<% if (!tradesList.length) { %>
    <text>No existe un intercambio con este id</text>
  <% } else { %>
    <% tradesList.forEach((trade) => { %>
    <row>
    <column>
      <info>
        <img src="http://placehold.it/150x150">
      </info>
    </column>
    <column>
      <info>
        <div class="name"> Intercambio <%= trade.id %> </div>
        <div class="text"> usuario1: <%= trade.id_user1 %> </div>
        <div class="text"> usuario2: <%= trade.id_user2 %>  </div>
        <div class="text"> Estado: <%= trade.status %>  </div>

      </info>
    </column>
    <column>

      <info>
        <div>
            <td><a href="<%= showTradePath(trade) %>">Ver</a></td>
        </div>
        <div>
          <form action="<%= deleteTradePath(trade) %>" method="POST">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Delete" />
          </form>
        </div>
      </info>
    </column>
  </row>
    <% }) %>
  <% } %>

