<% if (!trade) {%>
    <text>No hay ningún intercambio con este id</>
  <% } else {%>
    <row>
      <column>
        <info>
            <div class="name"> Intercambio <%= trade.id %> </div>
            <div class="text"> usuario1: <%= trade.id_user1 %> </div>
            <div class="text"> usuario2: <%= trade.id_user2 %>  </div>
            <div class="text"> Estado: <%= trade.status %>  </div>
            <div class="text"> Estado: <%= trade.status %>  </div>
            <div class="text"> Fecha: <%= trade.createdAt.getDate() %>/<%= trade.createdAt.getMonth()+1%>/<%= trade.createdAt.getFullYear() %> <%= trade.createdAt.getHours() %>:<%= trade.createdAt.getMinutes() %>   </div>
        </info>
      </column>
      <column>
                <h3>Chat</h3>

      <scroll-column>
          <% if (!tradeMessagesList.length) { %>
            <text>Aún no hay mensajes</text>
        <% } else { %>
          <info-chat>
              <% tradeMessagesList.forEach((message) => { %>
            <div class="text"> (<%= message.createdAt.getDate() %>/<%= message.createdAt.getMonth()+1%>/<%= message.createdAt.getFullYear() %> <%= message.createdAt.getHours() %>:<%= message.createdAt.getMinutes() %> )  <%= message.sender %> dijo: <%= message.content %> </div>
        <% }) %>
      </info-chat>

        <% } %>
      </scroll-column>
      <a href="<%= newMessagePath %>">Nuevo Mensaje</a>
    </column>


      <column>
        <info>
          <div>
            <form action="<%= deleteTradePath %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Eliminar Intercambio" />
            </form>
          </div>
        </info>
      </column>
    </row>
    
  
  <h3>OFERTAS</h3>
  <!--VALIDAR-->
  <a href="<%= newOfferPath %>">New Offer</a>
  
  <% if (!tradeOffersList.length) { %>
    <row>
      <text>No hay ofertas para mostrar :(</text> 
    </row>
  <% } else { %>
    <% tradeOffersList.forEach((offer) => { %>
      <row>
      <column>
        <info>
          <img src="http://placehold.it/150x150">
        </info>
      </column>
      <column>
        <info>
          <div class="name"> Oferta<%= offer.id %> </div>
          <div class="text"> <%= offer.info %> </div>
          <div class="text"> <%= offer.date %> </div>
        </info>
      </column>
      <column>
        <info>
          <div>
            <a href="<%= editOfferPath(offer) %>">Editar</a>
          </div>
          <div>
            <form action="<%= deleteOfferPath(offer) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input class="button" type="submit" value="Delete" />
            </form>
          </div>
        </info>
      </column>
    </row>
        <% }) %>
  
  <% } %>
  
  <% }%>
  
