<% if (!trade) {%>
    <text>No hay ningún intercambio con este id</>
  <% } else {%>
    <% switch (trade.status) {
    case 0 : %>
            Este intercambio fue cancelado
            <% break;

    case 1 : %>
            Este intercambio se encuentra activo
            <% break;

    case 2 : %>
            Este intercambio se encuentra pendiente de confirmación
            <% if ((user1or2 == 1 && !trade.user1_confirms) ||
            (user1or2 == 2 && !trade.user2_confirms)) {%>
              <form action="<%= updateTradePath %>" method="post">
                <input type="hidden" name="_method" value="patch" />
                <% if (user1or2 == 1) {%>
                  <input type="hidden" name="user1_confirms" value=1 />
                <% } else { %>
                  <input type="hidden" name="user2_confirms" value=1 />
                <% } %>
                <div  class="field">
                  <input type="submit" name="update" value="Confirmar que intercambio fue realizado" />
                </div>
              </form>
            <%}%>
            <% if ((user1or2 == 1 && trade.user1_confirms) ||
            (user1or2 == 2 && trade.user2_confirms)) {%>
              Esperando que el otro usuario confirme realización de intercambio
            <%}%>

            <% break;

    case 3 : %>
            Este intercambio ya fue realizado
            <% break;

    } %>

    <form action="<%= updateTradePath %>" method="post">
      <input type="hidden" name="_method" value="patch" />
      <input type="hidden" name="status" value=0 >
      <div  class="field">
        <input type="submit" name="update" value="Cancelar intercambio" />
      </div>
    </form>


    <row>
      <column>
        <info>
            <div class="name"> Intercambio <%= trade.id %> </div>
            <div class="text"> usuario1: <%= trade.id_user1 %> </div>
            <div class="text"> usuario2: <%= trade.id_user2 %>  </div>
            <div class="text"> Estado: <%= trade.status %>  </div>
            <div class="text"> Estado: <%= trade.status %>  </div>
            <div class="text"> Fecha: <%= trade.createdAt.getDate() %>/<%= trade.createdAt.getMonth()+1%>/<%= trade.createdAt.getFullYear() %> <%= trade.createdAt.getHours() %>:<%= trade.createdAt.getMinutes() %>   </div>
        </info>
      </column>
      <column>
                <h3>Chat</h3>

      <scroll-column>
          <% if (!tradeMessagesList.length) { %>
            <text>Aún no hay mensajes</text>
        <% } else { %>
          <info-chat>
              <% tradeMessagesList.forEach((message) => { %>
            <div class="text"> (<%= message.createdAt.getDate() %>/<%= message.createdAt.getMonth()+1%>/<%= message.createdAt.getFullYear() %> <%= message.createdAt.getHours() %>:<%= message.createdAt.getMinutes() %> )  <%= message.sender %> dijo: <%= message.content %> </div>
        <% }) %>
      </info-chat>

        <% } %>
      </scroll-column>
      <a href="<%= newMessagePath %>">Nuevo Mensaje</a>
    </column>


      <column>
        <info>
          <% if (superpermit) { %>
            <div>
              <form action="<%= deleteTradePath %>" method="POST">
                <input type="hidden" name="_method" value="delete" />
                <input type="submit" value="Eliminar Intercambio" />
              </form>
            </div>
          <% } %>
        </info>
      </column>
    </row>

<% if (trade.status) { %>

  <h3>OFERTAS</h3>

  <% if (!tradeOffer) { %>
    <row>
      <text>Aún no se ha realizado ninguna oferta. ¡Toma la inciativa!</text>
    </row>
    <!--VALIDAR-->
    <a href="<%= newOfferPath %>">Realizar oferta</a>

    <% } else { %>
      <row>
        <column>
          <info>
            <img src="http://placehold.it/150x150">
          </info>
        </column>
        <column>
          <info>
            <div class="name"> Oferta<%= tradeOffer.id %> </div>
            <div class="text"> <%= tradeOffer.info %> </div>
            <div class="text"> <%= tradeOffer.date %> </div>
          </info>
        </column>
        <column>
          <info>
            <% if (superpermit) { %>
              <div>
                <a href="<%= editOfferPath(tradeOffer) %>">Editar</a>
              </div>
              <% } %>
              <% if (superpermit) { %>
                <div>
                  <form action="<%= deleteOfferPath(tradeOffer) %>" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <input class="button" type="submit" value="Delete" />
                  </form>
                </div>
                <% } %>
                <% if (tradeOffer.status == 0) { %>
                  <% if (offerIsMine) { %>
                    <div>
                      <p>Tu oferta fue rechazada</p>
                      <div>
                        <a href="<%= newOfferPath %>">Realizar otra oferta</a>
                      </div>
                    </div>
                    <% } else {%>
                      <div>
                        <p>Has rechazado esta oferta</p>
                        <div>
                          <a href="<%= newOfferPath %>">Realizar otra oferta</a>
                        </div>
                      </div>
                      <% } %>
                      <% } %>
                      <% if (tradeOffer.status == 1) { %>
                        <% if (offerIsMine) { %>
                          <div>
                            <p>Esta oferta que enviaste aún no ha sido contestada</p>
                            <div>
                              <form action="<%= deleteOfferPath(tradeOffer) %>" method="post">
                                <input type="hidden" name="_method" value="delete" />
                                <input class="button" type="submit" value="Cancelar Oferta" />
                              </form>
                            </div>
                          </div>
                          <div>
                            <a href="<%= newOfferPath %>">Cambiar por nueva oferta</a>
                          </div>
                          <% } else {%>
                            <div>
                              <form action="<%= updateOfferPath(tradeOffer) %>" method="post">
                                <input type="hidden" name="_method" value="patch" />
                                <input type="hidden" name="status" value=2 />
                                <div  class="field">
                                  <input type="submit" name="update" value="Aceptar Oferta" />
                                </div>
                              </form>

                              <form action="<%= updateOfferPath(tradeOffer) %>" method="post">
                                <input type="hidden" name="_method" value="patch" />
                                <input type="hidden" name="status" value=0 />
                                <div  class="field">
                                  <input type="submit" name="update" value="Rechazar Oferta" />
                                </div>
                              </form>

                              <div>
                                <a href="<%= newOfferPath %>">Realizar contraoferta</a>
                              </div>
                            </div>
                            <% } %>
                            <% } %>
                            <% if (tradeOffer.status == 2) { %>
                              <% if (offerIsMine) { %>
                                <div>
                                  <p>Tu oferta fue aceptada</p>
                                </div>
                                <% } else {%>
                                  <div>
                                    <p>Has aceptado esta oferta</p>
                                  </div>
                                  <% } %>
                                  <% } %>
                                </info>
                              </column>
                            </row>
                            <% } %>

<% } %>

  <% }%>
