<% if (!trade) {%>
    <text>No hay ningún intercambio con este id</>
  <% } else {%>

    <row>
      <column>
        <info>
            <div class="name"> Intercambio <%= trade.id %> </div>
            <% if (!user1or2) {%>
              <div class="text"> usuario1: <%= trade.id_user1 %> </div>
              <div class="text"> usuario2: <%= trade.id_user2 %>  </div>
            <% } else {%>
              <% if (user1or2 == 1) {%>
                <div class="text">
                  Con usuario <a href= <%= "/users/" + trade.id_user2 + "/show"%>> <%= user2Name %></a>
                </div>
              <% } else {%>
                <div class="text">
                  Con usuario
                  <% if (user1or2 == 1) {%>
                    <a href= <%= "/users/" + trade.id_user1 + "/show"%>> <%= user2Name %></a>
                  <% } else {%>
                    <a href= <%= "/users/" + trade.id_user1 + "/show"%>> <%= user1Name %></a>
                  <% } %>
                </div>
              <% } %>
            <% } %>
            <div class="text"> Creado el <%= trade.createdAt.getDate() %>/<%= trade.createdAt.getMonth()+1%>/<%= trade.createdAt.getFullYear() %> a las <%= trade.createdAt.getHours() %>:<%= trade.createdAt.getMinutes() %>   </div>
            <div class="text">

              <% switch (trade.status) {
              case 0 : %>
                      Este intercambio fue cancelado
                      <% break;

              case 1 : %>
                      Este intercambio se encuentra activo
                      <% break;

              case 2 : %>
                      Este intercambio se encuentra pendiente de confirmación
                      <% if ((user1or2 == 1 && !trade.user1_confirms) ||
                      (user1or2 == 2 && !trade.user2_confirms)) {%>
                        <form action="<%= updateTradePath %>" method="post">
                          <input type="hidden" name="_method" value="patch" />
                          <% if (user1or2 == 1) {%>
                            <input type="hidden" name="user1_confirms" value=1 />
                          <% } else { %>
                            <input type="hidden" name="user2_confirms" value=1 />
                          <% } %>
                          <div  class="field">
                            <input type="submit" class="button" name="update" value="Confirmar que intercambio fue realizado" />
                          </div>
                        </form>
                      <%}%>
                      <% if ((user1or2 == 1 && trade.user1_confirms) ||
                      (user1or2 == 2 && trade.user2_confirms)) {%>
                        Esperando que el otro usuario confirme realización de intercambio
                      <%}%>

                      <% break;

              case 3 : %>
                      Este intercambio ya fue realizado
                      <% break;

              } %>

              <% if (trade.status == 1 || trade.status == 2) {%>
                <form action="<%= updateTradePath %>" method="post">
                  <input type="hidden" name="_method" value="patch" />
                  <input type="hidden" name="status" value=0 >
                  <div  class="field">
                    <input type="submit" class="button" name="update" value="Cancelar TRADE" />
                  </div>
                </form>
              <% } %>

            </div>
        </info>
      </column>
      <column>
                <h3>Chat</h3>

      <scroll-column>
          <% if (!tradeMessagesList.length) { %>
            <text>Aún no hay mensajes</text>
        <% } else { %>
          <info-chat>
            <% tradeMessagesList.forEach((message) => { %>
            <% if (message.sender == trade.id_user1 && user1or2 == 2) {%>
              <div class="text"> (<%= message.createdAt.getDate() %>/<%= message.createdAt.getMonth()+1%>/<%= message.createdAt.getFullYear() %> <%= message.createdAt.getHours() %>:<%= message.createdAt.getMinutes() %> )  <a href= <%= "/users/" + message.sender + "/show"%>> <%= user1Name %></a> dijo: <%= message.content %> </div>
            <% } %>
            <% if (message.sender == trade.id_user2 && user1or2 == 1) {%>
              <div class="text"> (<%= message.createdAt.getDate() %>/<%= message.createdAt.getMonth()+1%>/<%= message.createdAt.getFullYear() %> <%= message.createdAt.getHours() %>:<%= message.createdAt.getMinutes() %> )  <a href= <%= "/users/" + message.sender + "/show"%>> <%= user2Name %></a> dijo: <%= message.content %> </div>
            <% } %>
            <% if (message.sender == trade.id_user1 && user1or2 == 1) {%>
              <div class="text"> (<%= message.createdAt.getDate() %>/<%= message.createdAt.getMonth()+1%>/<%= message.createdAt.getFullYear() %> <%= message.createdAt.getHours() %>:<%= message.createdAt.getMinutes() %> )  <a href= <%= "/users/myprofile"%>> Tú </a> dijiste: <%= message.content %> </div>
            <% } %>
            <% if (message.sender == trade.id_user2 && user1or2 == 2) {%>
              <div class="text"> (<%= message.createdAt.getDate() %>/<%= message.createdAt.getMonth()+1%>/<%= message.createdAt.getFullYear() %> <%= message.createdAt.getHours() %>:<%= message.createdAt.getMinutes() %> )  <a href= <%= "/users/myprofile"%>> Tú </a> dijiste: <%= message.content %> </div>
            <% } %>
        <% }) %>
      </info-chat>

        <% } %>
      </scroll-column>

      <% if (user1or2 || superpermit) { %>
        <div>
          <% if (locals.errors) { %>
            <div class="errors">
              You need to fix the following errors:
              <ul>
                <% errors.forEach(error => { %>
                  <li><%= error.message %></li>
                  <% }); %>
              </ul>
            </div>
          <% } %>
          <form action="<%= submitMessagePath %>" method="post">
            <% if (!message.isNewRecord) { %>
              <input type="hidden" name="_method" value="patch" />
              <% } %>
              <div  class="field">
                <label for="id_user1">Nuevo mensaje</label>
                <input type="text" name="content" value="<%= message.content %>" />
              </div>
              <div  class="field">
                <input type="hidden" name="sender" value= "<%= userId %>" />
              </div>
              <input type="hidden" name="tradeId" value=<%= trade.id %> />
              <div  class="field">
                <input type="submit" class="button" name="create" value="Enviar" />
              </div>
          </form>
        </div>
      <% } %>

    </column>


      <column>
        <info>
          <% if (superpermit) { %>
            <div>
              <form action="<%= deleteTradePath %>" method="POST">
                <input type="hidden" name="_method" value="delete" />
                <input type="submit" value="Eliminar Intercambio" />
              </form>
            </div>
          <% } %>
        </info>
      </column>
    </row>

    <column>

<% if (trade.status) { %>

  <h3>OFERTAS</h3>

  <% if (!tradeOffer) { %>
    <row>
      <div class="text">
        Aún no se ha realizado ninguna oferta. ¡Toma la inciativa!
      </div>
    </row>
    <!--VALIDAR-->
    <a href="<%= newOfferPath %>">Realizar oferta</a>

    <% } else { %>
      <row>
        <column>
          <info>
            <img src="http://placehold.it/150x150">
          </info>
        </column>
        <column>
          <info>
            <div class="name"> Oferta<%= tradeOffer.id %> </div>
            <div class="text"> <%= tradeOffer.info %> </div>
            <div class="text"> <%= tradeOffer.date %> </div>
          </info>
        </column>
        <column>
          <info>
            <% if (superpermit) { %>
              <div>
                <a href="<%= editOfferPath(tradeOffer) %>">Editar</a>
              </div>
              <% } %>
              <% if (superpermit) { %>
                <div>
                  <form action="<%= deleteOfferPath(tradeOffer) %>" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <input class="button" type="submit" value="Delete" />
                  </form>
                </div>
                <% } %>
                <% if (tradeOffer.status == 0) { %>
                  <% if (offerIsMine) { %>
                    <div>
                      <div class="text">
                        Tu oferta fue rechazada
                      </div>
                      <div>
                        <a href="<%= newOfferPath %>">Realizar otra oferta</a>
                      </div>
                    </div>
                    <% } else {%>
                      <div class="text">
                        Has rechazado esta oferta
                      </div>
                      <div>
                        <a href="<%= newOfferPath %>">Realizar otra oferta</a>
                      </div>
                    <% } %>
                  <% } %>

                  <% if (tradeOffer.status == 1) { %>
                    <% if (offerIsMine) { %>
                      <div>
                        <div class="text">
                          Esta oferta que enviaste aún no ha sido contestada
                        </div>

                        <div>
                          <form action="<%= deleteOfferPath(tradeOffer) %>" method="post">
                            <input type="hidden" name="_method" value="delete" />
                            <input class="button" type="submit" value="Cancelar Oferta" />
                          </form>
                        </div>
                      </div>
                      <div>
                        <a href="<%= newOfferPath %>">Cambiar por nueva oferta</a>
                      </div>
                      <% } else {%>
                        <div>
                          <form action="<%= updateOfferPath(tradeOffer) %>" method="post">
                            <input type="hidden" name="_method" value="patch" />
                            <input type="hidden" name="status" value=2 />
                            <div  class="field">
                              <input type="submit" name="update" value="Aceptar Oferta" />
                            </div>
                          </form>

                          <form action="<%= updateOfferPath(tradeOffer) %>" method="post">
                            <input type="hidden" name="_method" value="patch" />
                            <input type="hidden" name="status" value=0 />
                            <div  class="field">
                              <input type="submit" name="update" value="Rechazar Oferta" />
                            </div>
                          </form>

                          <div>
                            <a href="<%= newOfferPath %>">Realizar contraoferta</a>
                          </div>
                        </div>
                        <% } %>
                      <% } %>

                      <% if (tradeOffer.status == 2) { %>
                        <% if (offerIsMine) { %>
                          <div class="text">
                            Tu oferta fue aceptada
                          </div>
                        <% } else {%>
                          <div class="text">
                            Has aceptado esta oferta
                          </div>
                        <% } %>
                      <% } %>
                    </info>
                  </column>
                </row>
              </column>
    <% } %>

  <% } %>

<% }%>

<% if (objects1.length || objects2.length) { %>
<div class="trade-box">
  <div class="box-user">
    <div class="owner">
      <p>Tus objetos</p>
    </div>
    <% objects1.forEach((object) => { %>
    <div class="item">
      <div class="item-img">
        <% if (object.image1) { %>
          <img src="https://guwuappspace1.sfo2.digitaloceanspaces.com/<%=object.image1%>">
        <% } else { %>
          <img src="http://placehold.it/150x150">
        <% } %>
      </div>
      <div class="item-name">
        <p><%= object.name %></p>
      </div>
    </div>
    <% }) %>
  </div>
  <div class="box-user">
    <div class="owner">
      <p>Objetos que te ofrecen</p>
    </div>
    <% objects2.forEach((object) => { %>
    <form action="/"></form>
    <div class="item">
      <% if (object.image1) { %>
        <img src="https://guwuappspace1.sfo2.digitaloceanspaces.com/<%=object.image1%>">
      <% } else { %>
        <img src="http://placehold.it/150x150">
      <% } %>
      <div class="item-name">
        <p><%= object.name %></p>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<% }%>
