<div>
    <% if (locals.errors) { %>
      <div class="errors">
        You need to fix the following errors:
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>
    <form action="<%= submitOfferPath %>" method="post">
      <div class="trade-box">
        <div class="box-user">
          <div class="owner">
            <p>Tus objetos</p>
          </div>
          <% user1ObjectsList.forEach((object) => { %>
          <div class="item">
            <div class="selector">
              <input type="checkbox" id="<%= object.id %>" name="items1" value="<%= object.id %>">
            </div>
            <div class="item-img">
              <img src="https://via.placeholder.com/150" alt="F servidor :(">
            </div>
            <div class="item-name">
              <p><%= object.name %></p>
            </div>
          </div>
          <% }) %>
        </div>
        <div class="box-user">
          <div class="owner">
            <p>Objetos de <%= user2.name %></p>
          </div>
          <% user2ObjectsList.forEach((object) => { %>
          <form action="/"></form>
          <div class="item">
            <div class="selector">
              <input type="checkbox" id="<%= object.id %>" name="items2" value="<%= object.id %>">
            </div>
            <div class="item-img">
              <img src="https://via.placeholder.com/150" alt="F servidor :(">
            </div>
            <div class="item-name">
              <p><%= object.name %></p>
            </div>
          </div>
          <% }) %>
        </div>
      </div>

      <br>
      <br>
      <% console.log("AAAAAA ESTE ES EL TRADE ID", tradeId) %>
        <% if (!offer.isNewRecord) { %>
          <input type="hidden" name="_method" value="patch" />
        <% } else {%>
          <input type="hidden" name="status" value=1 />
          <input type="hidden" name="sender" value="<%= userId %>"/>
        <% } %>
        <!-- <input type="hidden" name="tradeId" value=<%= tradeId %> /> -->
        <div class="final-box">
          <div>
            <label for="info">Aquí puedes ingresar información adicional !</label>
            <div class="aux-box">
              <input type="text" name="info" value="<%= offer.info %>" class="info-input" />
              <% if (offer.isNewRecord) { %>
                <div>
                  <input type="submit" name="create" value="Enviar oferta" />
                </div>
              <% } else { %>
                <div>
                  <input type="submit" name="update" value="Update" />
                </div>
              <% } %>
            </div>
          </div>
        </div>
          <div  class="field">
            <% if (offer.isNewRecord) { %>
              <div>
                <input type="submit" name="create" value="Enviar oferta" />
              </div>
            <% } else { %>
              <div>
                <input type="submit" name="update" value="Update" />
              </div>
            <% } %>
          </div>
        
    </form>
  </div>
