 
<div>
  <% if (locals.notice) { %>
    <div className="notice"><%= notice %></div>
  <% } %>
  <h1 id="login-title">¡Bienvenido! Inicia sesión</h1>
  <% if (locals.error) { %>
    <div class="error">
      <p><%= error %></p>
    </div>
  <% } %>
  <form action="<%= createSessionPath %>" method="post">
    <div class="form-box">
      <input type="hidden" name="_method" value="put" />
      <div class="field">
        <input class="input-field" type="email" name="email" value="<%= locals.email %>" placeholder="Email"/>
      </div>
      <div class="field">
        <input class="input-field" type="password" name="password" value="<%= locals.password %>" placeholder="Password"/>
      </div>
      <br>
      <div class="field">
        <button class="submit-button" type="submit" name="sign-in"/>Iniciar sesión</button>
      </div>
    </div>
  </form>