<div>
  <% if (locals.errors) { %>
    <div class="errors">
      Necesitas solucionar los siguientes errores:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= submitUserPath %>" method="post">
    <% if (!user.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
      <input type="hidden" name="isactive" value=1 />
      <input type="hidden" name="token" value='<%= user.token %>' />
    <% } else { %>
      <!-- <select id="isactive" name="isactive">
        <option value=1>Activo</option>
        <option value=0>Inactivo</option>
      </select> -->
      <input type="hidden" name="isactive" value=1 />
      <input type="hidden" name="token" value='a' />
      <input type="hidden" name="usertype" value=0 />
      <input type="hidden" name="rating" value=5><%= user.rating %></input>
    <% } %>
    <div class="hero">
      <div class="form-box">
        <div  class="field">
          <input class="input-field" type="text" name="username" value="<%= user.username %>" placeholder="Nombre de usuario"  required/>
        </div>
        <div  class="field">
          <input class="input-field" type="password" name="password" value="<%= user.password %>" placeholder="Contraseña" required/>
        </div>
        <div  class="field">
          <input class="input-field" type="text" name="name" value="<%= user.name %>" placeholder="Nombre y apellido" required/>
        </div>
        <div  class="field">
          <input class="input-field" type="text" name="email" placeholder="Email" required><%= user.email %></input>
        </div>
        <div  class="field">
          <input class="input-field" type="text" name="phone" placeholder="Teléfono" required><%= user.phone %></input>
        </div>
        <div  class="field">
          <input class="input-field" type="text" name="address" placeholder="Dirección" required><%= user.address %></input>
        </div>
        <br>
        <div  class="field">
        <% if (user.isNewRecord) { %>
          <button class="submit-button" type="submit" name="create" value="Registrarse" />Registrarse</button>
        <% } else { %>
          <button class="submit-button" type="submit" name="update" value="Update" />Actualizar datos</button>
        <% } %>
        </div>
      </div>
    </div>
  </form>
</div>
