<% if (!user) {%>
  <text>No hay usuario con este id</>
<% } else {%>

  <row>
    <column>
      <info>
        <img src="http://placehold.it/150x150">
      </info>
    </column>
    <column>
      <info>
        <div class="name"> <%= user.name %> </div>
        <div class="text"> @<%= user.username %> </div>
        <div class="text"> <%= user.rating %> &#9733</div>
      </info>
    </column>
    <column>
      <info>
        <div>
          <a href="<%= editUserPath %>">Editar</a>
        </div>
        <div>
          <form action="<%= deleteUserPath %>" method="POST">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Delete" />
          </form>
        </div>
      </info>
    </column>
  </row>


<h3>Reseñas</h3>
<% if (!userEvaluationsList.length) { %>
    <text>El usuario no cuenta con ninguna reseña</text>
<% } else { %>
      <% userEvaluationsList.forEach((evaluation) => { %>
        <row>
          <column>
            <info>
              <img src="http://placehold.it/150x150">
            </info>
          </column>
          <column>
            <info>
              <div class="name"> <%= evaluation.rate %> &#9733</div>
              <div class="text"> <%= evaluation.description %> </div>
            </info>
          </column>
          <column>
            <info>
              <% if (superpermit) { %>
                <div>
                  <a href="<%= editEvaluationPath(evaluation) %>">Editar</a>
                </div>
                <div>
                  <form action="<%= deleteEvaluationPath(evaluation) %>" method="POST">
                    <input type="hidden" name="_method" value="delete" />
                    <input type="submit" value="Delete"/>
                  </form>
                </div>
              <% } %>

            </info>
          </column>
        </row>
      <% }) %>

<% } %>

<h3>Objetos</h3>
<!--VALIDAR-->
<% if (userpermit || superpermit) { %>
  <a href="<%= newObjectPath %>">New Object</a>
<% } %>
<% if (!userObjectsList.length) { %>
  <row>
    <text>No hay objetos para mostrar :(</text>
  </row>

<% } else { %>
  <% userObjectsList.forEach((object) => { %>

    <row>
    <column>
      <info>
        <img src="http://placehold.it/150x150">
      </info>
    </column>
    <column>
      <info>
        <div class="name"> <%= object.name %> </div>
        <div class="text"> <%= object.description %> </div>
        <div class="text"> <%= object.status %> </div>
      </info>
    </column>
    <column>
      <info>
        <div>
          <a href="<%= showObjectPath(object) %>">Ver</a>
        </div>
        <% if (userpermit || superpermit) { %>
          <div>
            <a href="<%= editObjectPath(object) %>">Editar</a>
          </div>
          <div>
            <form action="<%= deleteObjectPath(object) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Delete" />
            </form>
          </div>
        <% } %>
      </info>
    </column>
  </row>
      <% }) %>

<% } %>

<% }%>
