<h2>Perfil</h2>
<% if (!user) {%>
  <p>Sin resultados</p>
<% } else {%>
  <table id='users-show'>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Username</th>
        <th>Calificacion</th>
        <th colspan="2">Acciones</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.username %></td>
          <td><%= user.rating %></td>
          <td><a href="<%= editUserPath(user) %>">Editar</a> </td>
          <td>
            <form action="<%= deleteUserPath(user) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Delete"/>
            </form>
          </td>
        </tr>
    </tbody>
  </table>
<% }%>

