
<h2>Mis intercambios </h2>

<h3>Intecambios esperando confirmación de realización</h3>
<% if (!userTradesPromised.length) { %>
    <text>No tienes ningún intercambio esperando confirmación de realización</text>
  <% } else { %>
    <% userTradesPromised.forEach((trade) => { %>
      <row>
      <column>
        <info>
          <img src="http://placehold.it/150x150">
        </info>
      </column>
      <column>
        <info>
          <div class="name"> Intercambio <%= trade.id %> </div>
          <div class="text"> usuario1: <%= trade.id_user1 %> </div>
          <div class="text"> usuario2<%= trade.id_user2 %>  </div>

        </info>
      </column>
      <column>

        <info>
          <div>
            <a href="<%= showTradePath(trade) %>">Ver</a>
          </div>
          <div>
            <form action="<%= deleteTradePath(trade) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Delete" />
            </form>
          </div>
        </info>
      </column>
    </row>
  <% }) %>
<% } %>


<h3>Intecambios activos</h3>
<% if (!userTradesActive.length) { %>
    <text>No tienes ningún intercambio activo</text>
  <% } else { %>
    <% userTradesActive.forEach((trade) => { %>
      <row>
      <column>
        <info>
          <img src="http://placehold.it/150x150">
        </info>
      </column>
      <column>
        <info>
          <div class="name"> Intercambio <%= trade.id %> </div>
          <div class="text"> usuario1: <%= trade.id_user1 %> </div>
          <div class="text"> usuario2<%= trade.id_user2 %>  </div>
          <div class="text"> Estado: <%= trade.status %>  </div>

        </info>
      </column>
      <column>

        <info>
          <div>
            <a href="<%= showTradePath(trade) %>">Ver</a>
          </div>
          <div>
            <form action="<%= deleteTradePath(trade) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Delete" />
            </form>
          </div>
        </info>
      </column>
    </row>
  <% }) %>
<% } %>


<h3>Intecambios pasados efectuados</h3>
<% if (!userTradesDone.length) { %>
    <text>No tienes ningún intercambio pasado completado</text>
  <% } else { %>
    <% userTradesDone.forEach((trade) => { %>
      <row>
      <column>
        <info>
          <img src="http://placehold.it/150x150">
        </info>
      </column>
      <column>
        <info>
          <div class="name"> Intercambio <%= trade.id %> </div>
          <div class="text"> usuario1: <%= trade.id_user1 %> </div>
          <div class="text"> usuario2<%= trade.id_user2 %>  </div>

        </info>
      </column>
      <column>

        <info>
          <div>
            <a href="<%= showTradePath(trade) %>">Ver</a>
          </div>
          <div>
            <form action="<%= deleteTradePath(trade) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Delete" />
            </form>
          </div>
        </info>
      </column>
    </row>
  <% }) %>
<% } %>


<h3>Intecambios pasados cancelados</h3>
<% if (!userTradesCanceled.length) { %>
    <text>No tienes ningún intercambio cancelado</text>
  <% } else { %>
    <% userTradesCanceled.forEach((trade) => { %>
      <row>
      <column>
        <info>
          <img src="http://placehold.it/150x150">
        </info>
      </column>
      <column>
        <info>
          <div class="name"> Intercambio <%= trade.id %> </div>
          <div class="text"> usuario1: <%= trade.id_user1 %> </div>
          <div class="text"> usuario2<%= trade.id_user2 %>  </div>

        </info>
      </column>
      <column>
        <info>
          <div>
            <a href="<%= showTradePath(trade) %>">Ver</a>
          </div>
          <div>
            <form action="<%= deleteTradePath(trade) %>" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Delete" />
            </form>
          </div>
        </info>
      </column>
    </row>
  <% }) %>
<% } %>
